<% include ./partials/_header %>
<html>
<body>

   <h2> Login </h2>
       <form method="POST" action="/login" display="inline">
        <label for="longUrl"> Email: </label>
       <input class="form-control" type="text" name="email" placeholder="email" style="width: 300px; margin: 1em">
       <label for="longUrl"> Password: </label>
       <input class="form-control" type="text" name="password" placeholder="password" style="width: 300px; margin: 1em">
       <p><button type="submit" class="btn btn-primary"> Submit </button></p>
       </form>



</body>
</html>