<% include ./partials/_header %>

<html>
<body>
  <u1>
  <h1>Welcome to TinyApp!</h1>
  <h2>My URLS</h2>


<% for (let url in urls) { %>
<li> <%= url %>: <%= urls[url] %></li>

<form method="POST" action="/urls/<%= url %>/delete">
<button type=“submit”> Delete </button>
</form>
<% } %>
</u1>
</body>
</html>